In [3]:
# single line statement 
a= 'this is my first python class' 
print(a)

this is my first python class

In [15]:
#  programs for arithmetic operator addition
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
sum=a+b
diff=a-b
print(sum)
print(diff)
print(a*b)
print(a/b)
print(a%b)
print(a//b)  # flow division

enter the first number: 80
enter the second number: 10

90
70
800
8.0
0
8

#  assignment operator
#  =,+=,-=,*=,/=,//=

In [17]:
a=10
print(a)

10

In [19]:
a=20
 a+=10 # a=a+10
print(a)

30

In [21]:
a=20
a-=10
print(a)

10

In [23]:
a=40
a*=4
print(a)

160

In [25]:
a=40
a/=10
print(a)

4.0

In [27]:
a=40
a//=20
print(a)

2

In [29]:
a=80
a%=19
print(a)

4

#  comparision operator 
#  <,>,<=,>=,!=,==

In [37]:
 a=20
b=30
print(a==b) # output will be in the form of the boolean 
print(a<b)
print(a>b)
print(a<=b)# if one condition is true it will give true
print(a>=b)
print(a!=b)

False
True
False
True
False
True

#  logical operator

#  and ,or,not

In [62]:
True and True

True

In [64]:
True and False

False

In [66]:
False and False

False

In [68]:
False and True

False

In [70]:
1 and 1

1

In [72]:
1 and 0

0

In [74]:
0 and 0

0

In [76]:
19 and 20

20

In [80]:
 
 not(True)

False

In [82]:
not (False)

True

In [88]:
not(1)

False

In [90]:
True or True

True

In [94]:
True or False

True

In [98]:
False or False

False

In [100]:
19 or 20

19

In [102]:
#  or 
20 or 30

20

# membership operator

In [3]:
print("kanak sirohi")

kanak sirohi

In [5]:
name = " kanak sirohi"
print ( name)

 kanak sirohi

In [15]:
name = "kanak sirohi"
salary = str(400000)
print (" my name is :"+ name  +   salary)

 my name is :kanak sirohi400000

In [1]:
name =" kanak sirohi" 
salary = str(40000)
print (f"my name is {name} and salary is {salary}");

my name is  kanak sirohi and salary is 40000

#  DATA TYPES

In [ ]:
# in python there are very few data types
#  in python we do not need to declare the data types
#  primitive :
#  int --- it is used to store numeric values  ( example amt= 2418)
#  str --- it is used to store string values  ( example  name = " kanak ")
# float --- it is used to store the decimal value  ( example price = 24.18)
#    data types to store the multiple values:
#    array --- it can store the multiple values of the same data types 
#     example  name= [ " kanak"," palak", " bhavya"]
#  1. List : it can store  multiple values of different data types 
#   example name =[" kanak","palak",2418]
#   2.Tuple : it can store multiple values but cannnot be modified 
#  ** typecasting--- convert one data type to anothewr data type example price 24.18,,,,, payPrice=int (price)
#   3. Set 
#  4. Dictionary

In [6]:
amount = 2418
print(type(amount))
print(amount)

<class 'int'>
2418

In [42]:
#  float to int 
price = 24.18
print(price)
print(type(price))
pay = int(price)
print(pay)
print(type(pay))

24.18
<class 'float'>
24
<class 'int'>

In [26]:
#  int to str  (possible)
# str to int (impossible)
amount =2418
stringAmount= str(amount)
print(stringAmount," and data type is ",type(stringAmount))

2418  and data type is  <class 'str'>

In [32]:
#  to take input from the user 
name = input(" enter your name :")
print (" my name is :",name)

 enter your name : kanak sirohi

 my name is : kanak sirohi

In [36]:
#  finding age 
birthYear = int(input(" enter the year in which you were born: "))
currentYear =  int(input(" enter the current year:"))
print ( " your age is :",currentYear- birthYear)

 enter the year in which you were born:  2006
 enter the current year: 2024

 your age is : 18

#  notes

In [8]:
#   + is used to concatenate two strings 
age = 18 
salary = 1000
name ="kanak sirohi" 
#  here the salary and the age is not string so we will not use + with them we will use , 
print(" my name is "+name +" and salary is ",salary,"and age is ",age)
# or 
print(f" my name is {name} and  salary is {salary} and age is {age}")

 my name is kanak sirohi and salary is  1000 and age is  18
 my name is kanak sirohi salary is 1000 and age is 18

In [12]:
#  typecasting example
salary = 1000 
age = 18 
salaryString= str(type(salary))
stringAge= str(type(age))
print(type(salary))
print(type(age))
print(type(salaryString))
print(type(stringAge))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>