#  decision making

In [14]:
#  check if u r eligible for voting or super vote 
age = int(input( " enter your age to check if u r eligible for voting or not:"))
if age>=18 and age<55:
    print(" you are eligible for voting")
elif age>55:
    print(" you are eligible for the super vote")
else:
    print(" you are not eligible for voting")

 enter your age to check if u r eligible for voting or not: 24

 you are eligible for voting

#  loops

In [4]:
#  for loop : it is used to complete the iteration or repeating the task
name = input(" enter your name :")
for i in name:
    print(i)

 enter your name : kanak sirohi

k
a
n
a
k

s
i
r
o
h
i

In [6]:
#  print 1 to 10 
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [14]:
#  print the pattern using for loop 1 3 5 7 11
for x in range(1,12,2): 
    print(x)

1
3
5
7
9
11

In [16]:
#  print the pattern using for loop 1 3 5 7 11
for x in range(1,12):
    if x%2!=0:
        print(x)

1
3
5
7
9
11

In [22]:
#  print the even no and odd no 1 to 20
for x in range(1,21):
    if x%2 !=0:
        print("odd no:",x)
    else:
        print("even no :",x)

odd no: 1
even no : 2
odd no: 3
even no : 4
odd no: 5
even no : 6
odd no: 7
even no : 8
odd no: 9
even no : 10
odd no: 11
even no : 12
odd no: 13
even no : 14
odd no: 15
even no : 16
odd no: 17
even no : 18
odd no: 19
even no : 20

In [3]:
# while loop : it is used to perform iteration until conditon will false 
#  print the no from 1 to 10 
x=1
while x<11:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [5]:
#  wap to print the no from 10 to 1 
y=10
while y>0:
    print(y)
    y=y-1

10
9
8
7
6
5
4
3
2
1

x=10
print(x)

In [3]:
# print the pattern 1 3 5 9 11 
x=1
while x<12:
    if x==7:
        print()
    else:
        print(x)
    x=x+2

1
3
5

9
11

In [7]:
# another way 
a=1
while a<12:
    if a !=7:
        print(a)
    a=a+2

1
3
5
9
11

#  functions

In [20]:
#  function can perform any task and it can be reused many times
def printName():
    print(" my function name is print")

# function calling 
printName()

# argument function and parameter function
def myAge(age):
    print(" my age is :",age)

myAge(18)

 my function name is print
 my age is : 18

 enter the side of the square 23

 the area of the square is : 529

In [22]:
#  find area of square using function
side=int(input(" enter the side of the square"))
def square(side):
    print(" the area of the square is :",side*side)

square(side)

 enter the side of the square 45

 the area of the square is : 2025

In [24]:
#  another way 
side=int(input("enter the side of the square:"))
def square(side):
    return side * side
area= square(side)
print(" the area is :",area)

enter the side of the square: 24

 the area is : 576

#  list

In [32]:
#  it is used to store multiple data . it store different type of data like int string float 
# it can also store the duplicate data
#  create list and store your friends name 
friendsName =["kanak","palak","bhavya",18,24,7]
#  to access the single  data from list --> listvariablename[indexno]
print(friendsName[2])
# to print complete list 
for name in friendsName:
    print(name)

# operations on list 
# append---> add any object to the end of the  list
friendsName.append("sanjay")
# insert---> will add the data based on the index no
friendsName.insert(0,"nishi")
# remove---> to remove the data from the list ( removes the first occurences)
friendsName.remove(7)
# pop---> to remove the data using pop ( it follows stack and removes the last value)
friendsName.pop()   # using the index as argument will also remove the data
friendsName.pop(3)
# reverse---> to reverse the list
friendsName.reverse()
# clear---> to delete the complete list
# sort---> to arrange them in alphabetical order 
friendsName.clear()
for name in friendsName:
    print(name)

bhavya
kanak
palak
bhavya
18
24
7
24
18
palak
kanak
nishi

In [46]:
friendsName=["kanak","palak","bhavya","sakshi","nishi"]
for name in friendsName[0:5]:  # slicing 
    print(name)


for name in friendsName[-4:-1]:
    print(name)

kanak
palak
bhavya
sakshi
nishi
palak
bhavya
sakshi

In [ ]:
#  wap to add 10 names in list and remove the laqst value reverse the list sorting the list

In [11]:
friendsName =["kanak","palak"]
for i in range(0,12):
    friendsName.append(input("enter the name"))
for name in friendsName:
    print(name)

enter the name kanak
enter the name palak
enter the name nishi
enter the name bhavya
enter the name sagun
enter the name sakshi
enter the name harsh
enter the name gaurav
enter the name garima
enter the name gunjan
enter the name hii
enter the name hello

kanak
palak
kanak
palak
nishi
bhavya
sagun
sakshi
harsh
gaurav
garima
gunjan
hii
hello

In [33]:
listName=["care","trust","understanding","believe","love","god","us"]
print(listName)
listName.pop()
listName.reverse()
listName.sort()
print(listName)

['care', 'trust', 'understanding', 'believe', 'love', 'god', 'us']
['believe', 'care', 'god', 'love', 'trust', 'understanding']

# dictionary
#  dictionary ---> it can store the data in key value pair
# ----> ordered,no duplicate,changable
myInfo={"name":"kanak",
        "email":"xyz@gmail.com",
        "number": "1234567890",
         "age": 18,"name": "niharika"}
print(myInfo)
print(type(myInfo))
print(f"my name is {myInfo["name"]}  my age is {myInfo["age"]}  my email is {myInfo["email"]}  my number is {myInfo["number"]}")
# print(myInfo["name"])
# to access the complete dict key values
for value in myInfo.values():
    print(value)
for key in myInfo.keys():
    print(key)
#  assign the value in the dict
myInfo["name"]="kanak"
myInfo["age"]=21
myInfo["email"]="we@gmail.com"
print(myInfo)
# update ----> to add the new value in the dictionary
myInfo.update({"gender":"male"})
print(myInfo)
#  pop----> to remove the data in the dictionary 
myInfo.pop("age")
print(myInfo)

In [17]:
name=[]
name.append("kanak")
name.append("palak")
name.append("bhavya")
print(name)
name.insert(1,"nishi")
print(name)
print(type(name))

['kanak', 'palak', 'bhavya']
['kanak', 'nishi', 'palak', 'bhavya']
<class 'list'>

# set

In [52]:
# set----> it can store the multiple data 
# unordered,unchangeable,no duplicate
myset = {"Kanak","Palak","Bhavya","Kanak"}
print(myset)

{'Kanak', 'Palak', 'Bhavya'}

# tuple

In [ ]:
#  it can store the multiple data 
#  ordered , no duplicate, unchangeable
#